<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>
    <add key="report_server_name" value="http://rdrrl7/Reportserver_I2"/>
    <add key="open_order_by_company_report" value="/Development/Open Orders by Company"/>
    <add key="open_order_by_account_report" value="/Development/Open Orders by Account"/>
    <add key="order_report" value="/Development/Order by Key"/>
    <add key="invoice_report" value="/Development/Invoice"/>
    <add key="account_report" value="/Development/Account Data Sheet"/>
    <add key="product_report" value="/Development/Product Data Sheet"/>
    <add key="report_server_default_command" value="Render"/>
  </appSettings>

  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"/>
      <endToEndTracing activityTracing="false"/>
    </diagnostics>-->
    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBindingMAX" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBindingMED" maxReceivedMessageSize="1073741823" maxBufferPoolSize="1073741823" maxBufferSize="1073741823" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="1073741823" maxStringContentLength="1073741823" maxArrayLength="1073741823" maxBytesPerRead="1073741823" maxNameTableCharCount="1073741823"/>
        </binding>

      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingMAX" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="NetTcpBindingMAXTxn" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" receiveTimeout="00:10:00" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="NetTcpBindingMED" maxReceivedMessageSize="1073741823" maxBufferPoolSize="1073741823" maxBufferSize="1073741823" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="1073741823" maxStringContentLength="1073741823" maxArrayLength="1073741823" maxBytesPerRead="1073741823" maxNameTableCharCount="1073741823"/>
        </binding>

        <binding name="NetTcpBinding_IOrderService" maxReceivedMessageSize="2147483647" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" receiveTimeout="00:10:00"
                 transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>

        <binding name="NetTcpBinding_IAddressService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:7476/QIQOAccountService/QIQOAccountService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMAX" contract="QIQO.Business.Client.Contracts.IAccountService" name="BasicHttpBinding_IAccountService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOAccountService/QIQOAccountService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.IAccountService" name="NetTcpBinding_IAccountService">
      </endpoint>
      <endpoint address="net.tcp://localhost:7478/QIQOAuditService/QIQOAuditService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAX" contract="QIQO.Business.Client.Contracts.IAuditService" name="NetTcpBinding_IAuditService">
      </endpoint>
      <!--<endpoint address="http://localhost:7476/QIQOInvoiceService/QIQOInvoiceService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMAX" contract="QIQO.Business.Client.Contracts.IInvoiceService" name="BasicHttpBinding_IInvoiceService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOInvoiceService/QIQOInvoiceService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.IInvoiceService" name="NetTcpBinding_IInvoiceService">
      </endpoint>
      <!--<endpoint address="http://localhost:7476/QIQOOrderService/QIQOOrderService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMAX" contract="QIQO.Business.Client.Contracts.IOrderService" name="BasicHttpBinding_IOrderService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOOrderService/QIQOOrderService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBinding_IOrderService" contract="QIQO.Business.Client.Contracts.IOrderService" name="NetTcpBinding_IOrderService">
      </endpoint>
      <endpoint address="net.tcp://localhost:7478/QIQOCompanyService/QIQOCompanyService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.ICompanyService" name="NetTcpBinding_ICompanyService">
      </endpoint>
      <endpoint address="net.tcp://localhost:7478/QIQOFeeScheduleService/QIQOFeeScheduleService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.IFeeScheduleService" name="NetTcpBinding_IFeeScheduleService">
      </endpoint>
      <endpoint address="net.tcp://localhost:7478/QIQOLedgerService/QIQOLedgerService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMED" contract="QIQO.Business.Client.Contracts.ILedgerService" name="NetTcpBinding_ILedgerService">
      </endpoint>
      <!--<endpoint address="http://localhost:7476/QIQOSessionService/QIQOSessionService" binding="basicHttpBinding" 
                contract="QIQO.Business.Client.Contracts.ISessionService" name="BasicHttpBinding_ISessionService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOSessionService/QIQOSessionService" binding="netTcpBinding" 
                contract="QIQO.Business.Client.Contracts.ISessionService" name="NetTcpBinding_ISessionService">
      </endpoint>
      <!--<endpoint address="http://localhost:7476/QIQOTypeService/QIQOTypeService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMED" contract="QIQO.Business.Client.Contracts.ITypeService" name="BasicHttpBinding_ITypeService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOTypeService/QIQOTypeService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMED" contract="QIQO.Business.Client.Contracts.ITypeService" name="NetTcpBinding_ITypeService">
      </endpoint>
      <endpoint address="net.tcp://localhost:7478/QIQOEmployeeService/QIQOEmployeeService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingMAX" contract="QIQO.Business.Client.Contracts.IEmployeeService" name="NetTcpBinding_IEmployeeService">
      </endpoint>

      <!--<endpoint address="http://localhost:7476/QIQOProductService/QIQOProductService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMAX" contract="QIQO.Business.Client.Contracts.IProductService" name="BasicHttpBinding_IProductService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOProductService/QIQOProductService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.IProductService" name="NetTcpBinding_IProductService">
      </endpoint>

      <!--<endpoint address="http://localhost:7476/QIQOEntityProductService/QIQOEntityProductService" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBindingMAX" contract="QIQO.Business.Client.Contracts.IEntityProductService" name="BasicHttpBinding_IEntityProductService"/>-->
      <endpoint address="net.tcp://localhost:7478/QIQOEntityProductService/QIQOEntityProductService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingMAXTxn" contract="QIQO.Business.Client.Contracts.IEntityProductService" name="NetTcpBinding_IEntityProductService">
      </endpoint>

      <endpoint address="net.tcp://localhost:7478/QIQOAddressService/QIQOAddressService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBinding_IAddressService" contract="QIQO.Business.Client.Contracts.IAddressService" name="NetTcpBinding_IAddressService">
      </endpoint>
            
    </client>
  </system.serviceModel>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss.ffff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <logger name="QIQO.Common.Core">
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </logger>
  </log4net>

</configuration>
