<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInvoiceService"/>
                <binding name="BasicHttpBinding_IOrderService"/>
                <binding name="BasicHttpBinding_ISessionService"/>
                <binding name="BasicHttpBinding_ITypeService"/>
                <binding name="BasicHttpBinding_IAccountService"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuditService"/>
                <binding name="NetTcpBinding_IInvoiceService"/>
                <binding name="NetTcpBinding_IOrderService"/>
                <binding name="NetTcpBinding_ICompanyService"/>
                <binding name="NetTcpBinding_IFeeScheduleService"/>
                <binding name="NetTcpBinding_ILedgerService"/>
                <binding name="NetTcpBinding_ISessionService"/>
                <binding name="NetTcpBinding_ITypeService"/>
                <binding name="NetTcpBinding_IEmployeeService"/>
                <binding name="NetTcpBinding_IAccountService"/>
            </netTcpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:7476/QIQOAccountService/QIQOAccountService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService" contract="QIQO.Business.Client.Contracts.IAccountService" name="BasicHttpBinding_IAccountService"/>
          <endpoint address="net.tcp://localhost:7478/QIQOAccountService/QIQOAccountService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountService" contract="QIQO.Business.Client.Contracts.IAccountService" name="NetTcpBinding_IAccountService">
            <identity>
              <userPrincipalName value="RDRRL7\Richard Richards"/>
            </identity>
          </endpoint>
            <endpoint address="net.tcp://localhost:7478/QIQOAuditService/QIQOAuditService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuditService" contract="QIQO.Business.Client.Contracts.IAuditService" name="NetTcpBinding_IAuditService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7476/QIQOInvoiceService/QIQOInvoiceService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvoiceService" contract="QIQO.Business.Client.Contracts.IInvoiceService" name="BasicHttpBinding_IInvoiceService"/>
            <endpoint address="net.tcp://localhost:7478/QIQOInvoiceService/QIQOInvoiceService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInvoiceService" contract="QIQO.Business.Client.Contracts.IInvoiceService" name="NetTcpBinding_IInvoiceService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7476/QIQOOrderService/QIQOOrderService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="QIQO.Business.Client.Contracts.IOrderService" name="BasicHttpBinding_IOrderService"/>
            <endpoint address="net.tcp://localhost:7478/QIQOOrderService/QIQOOrderService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderService" contract="QIQO.Business.Client.Contracts.IOrderService" name="NetTcpBinding_IOrderService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7478/QIQOCompanyService/QIQOCompanyService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICompanyService" contract="QIQO.Business.Client.Contracts.ICompanyService" name="NetTcpBinding_ICompanyService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7478/QIQOFeeScheduleService/QIQOFeeScheduleService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFeeScheduleService" contract="QIQO.Business.Client.Contracts.IFeeScheduleService" name="NetTcpBinding_IFeeScheduleService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7478/QIQOLedgerService/QIQOLedgerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILedgerService" contract="QIQO.Business.Client.Contracts.ILedgerService" name="NetTcpBinding_ILedgerService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7476/QIQOSessionService/QIQOSessionService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService" contract="QIQO.Business.Client.Contracts.ISessionService" name="BasicHttpBinding_ISessionService"/>
            <endpoint address="net.tcp://localhost:7478/QIQOSessionService/QIQOSessionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISessionService" contract="QIQO.Business.Client.Contracts.ISessionService" name="NetTcpBinding_ISessionService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7476/QIQOTypeService/QIQOTypeService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITypeService" contract="QIQO.Business.Client.Contracts.ITypeService" name="BasicHttpBinding_ITypeService"/>
            <endpoint address="net.tcp://localhost:7478/QIQOTypeService/QIQOTypeService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITypeService" contract="QIQO.Business.Client.Contracts.ITypeService" name="NetTcpBinding_ITypeService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7478/QIQOEmployeeService/QIQOEmployeeService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService" contract="QIQO.Business.Client.Contracts.IEmployeeService" name="NetTcpBinding_IEmployeeService">
                <identity>
                    <userPrincipalName value="RDRRL7\Richard Richards"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
